1ASIWSIAS9E_PDT_20240605_101638/PNR_Cancel_17_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/PNRXCL_17_1_1A" xmlns="http://xml.amadeus.com/PNRXCL_17_1_1A" elementFormDefault="qualified">
  <xs:element name="PNR_Cancel">
    <xs:annotation>
      <xs:documentation xml:lang="en">PNR CANCEL
PNR CANCEL
pnr cancel</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="reservationInfo" minOccurs="0" type="ReservationControlInformationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">reservation control informations</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="pnrActions" type="OptionalPNRActionsType">
          <xs:annotation>
            <xs:documentation xml:lang="en">specific actions to be processed on PNR</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="cancelElements" minOccurs="0" maxOccurs="4" type="CancelPNRElementType">
          <xs:annotation>
            <xs:documentation xml:lang="en">CANCEL PNR ELEMENT</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CancelPNRElementType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To cancel a PNR element</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="entryType" type="AMA_EDICodesetType_Length1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Cancel type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="element" minOccurs="0" maxOccurs="999" type="ElementIdentificationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Element data</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ElementIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">ELEMENT DATA</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="identifier" minOccurs="0" type="AMA_EDICodesetType_Length1to3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Element qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="number" minOccurs="0" type="NumericInteger_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">element number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="subElement" minOccurs="0" type="NumericInteger_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">sub element number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OptionalPNRActionsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify specific Actions to be processed on PNR.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="optionCode" maxOccurs="40" type="NumericInteger_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Processing options. Only the option 0, 10, 11 and 20 are supported.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">RESERVATION CONTROL INFORMATION</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="controlNumber" type="AlphaNumericString_Length1To20">
        <xs:annotation>
          <xs:documentation xml:lang="en">profile or PNR record locator</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Reservation control information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="reservation" type="ReservationControlInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">record information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="NumericInteger_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To20">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..20</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,5}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AMA_EDICodesetType_Length1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for codes in the AMADEUS code tables. Code Length is one alphanumeric character.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Z]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AMA_EDICodesetType_Length1to3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for codes in the AMADEUS code tables. Code Length is three alphanumeric characters.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Z]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.1.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D6FE33610BDF357107BE9A1B02C255B2C6A8007ADED0405D68EE178811E0C0813716C134B912A870AA206F9EF1D4A72377BDAF622CC0C47F3F1DE9BFBF576BD2F0FEB55F5B0553779F16996DFCC8A5BB9F14E432FF3DF161F6F17B7BFCBFBCDE1D73C5FE4B9283765EC5BA43B63D141838A03D56720531F52387B212D9E8070CB6FD4428DEA1263BB98CF5F1A9B41031A3BCA6ADFCCC553E7B4C595096A4E18A371679A6B5393A82F587F7BE46F032A860E45ED35720A29E75DF29A061D7BD35BD382EB533BE53A6B39D0F6C19C2F517D28C77672177C1B0C4608BD04A7E5D2BB93D15CC380957FB8930F0D44E3DD42760EBA78F1C1FC8D5A768443BA36545B4F5D404931983ADA5EF23F4F46738D4C326CB99CC96B33CA20A3E45B2BF7690E927B9E3E3CA3CE3E088D27E86CBC0F6D824BAB135842A17DF764F111FFEAD0D5B883585FA617749FFF1398E8BEE7BC2682DEAAD7670CC45BB115D02297610BCEDCA17F1327A66FDF59C6CC2726077FA073F839593F29607D0D7682DCFAB3661A578BE305411F519B13D4317A6FE9B83E542B43115C5C3253CC1F3377DC40F88689F1C3904303D774FCE2CF5CCB9D87418C7E70B6170D86334E600CF69D41ABE9D187F82F7CBC38F15C25254C7F8CAD98756327E5B8FF0551EB8D8B5B8C231D83D882F7F11D42839F049C8971858428A53BCAE77931C5E8CE87D21AAE3D293669C1D4482B5612F766518E28520321A6BA5F9DA94DECA74562004776D027E3A3186B9A4F950FE566FEAAD11A5E0358406F19BF8A349E7E7F3E2C96E5F566C69A1C19A01A2ED9B85ABC908D0F5D6CBB78E7ADC6A0524088D96C33C2F80B49F3FD4E66333182A48A52BCEBAFCA5D59EDB6FBAAF854B0A61B304EEDB685C09796E9AA80AAD5FA5E1DF65FD7577A240404557CBCFA9CBEFF73F945B47C0F862ECCF088FB488EBA61EBD924C6543102030386E9B76A097C3B565CD9513B17A6D0C472EAF30F881B11D5F1040000
-->

