controllers/flight/amadeus/1ASIWKAFK4H_PDT_20240620_082423/MiniRule_GetFromRec_23_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TMRXRQ_23_1_1A" xmlns="http://xml.amadeus.com/TMRXRQ_23_1_1A" elementFormDefault="qualified">
  <xs:element name="MiniRule_GetFromRec">
    <xs:annotation>
      <xs:documentation xml:lang="en">Retrieve Mini Rules associated to a Record</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="miniRulesQueryOption" minOccurs="0" type="AttributeType" />
        <xs:element name="language" minOccurs="0" type="LanguageBatchTypeU" />
        <xs:element name="groupRecords" maxOccurs="99">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="recordID" type="ItemReferencesAndVersionsType" />
              <xs:element name="filteringSelection" minOccurs="0" type="ReferenceInfoType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AttributeInformationTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of attribute and the attribute</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeType" type="AlphaNumericString_Length1To25" />
      <xs:element name="attributeDescription" minOccurs="0" type="AlphaNumericString_Length1To256" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttributeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to have tag value without code list for tag</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="criteriaSetType" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Determines if the set of criteria corresponds to the message identification criteria or to normal criteria.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="criteriaDetails" maxOccurs="99" type="AttributeInformationTypeU">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details for the message criteria (name, value).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemReferencesAndVersionsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Exchange and link unique identifiers</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceType" type="AlphaNumericString_Length1To3" />
      <xs:element name="uniqueReference" type="AlphaNumericString_Length1To99" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LanguageBatchTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a language.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="languageQualifier" type="AlphaNumericString_Length1To3" />
      <xs:element name="languageDetails" minOccurs="0" type="LanguageDetailsBatchTypeU" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LanguageDetailsBatchTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify a language.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="languageCode" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="languageName" minOccurs="0" type="AlphaNumericString_Length1To35" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide specific Hotel reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceDetails" maxOccurs="99" type="ReferencingDetailsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencingDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="AlphaNumericString_Length1To10" />
      <xs:element name="value" type="AlphaNumericString_Length1To60" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To99">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..99</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="99" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To25">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..25</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="25" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To256">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..256</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="256" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To60">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..60</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.1.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D6FDB3810BDF35710BDECA1B02C3BED626180073596DD05D6495651811E0C180C39B68952A49643055183FCF71D4A729B050A6C7B11E6839A8FF7DE6CCB9BB22AEA727DB8BD11CB7C79355B2C66CB3F78DD016AD9F3C5BBD5FB77ABC57BBEDDD56FF37C95E7ACD815B16F0137C682930D080A1C3E4834AA4EE1EC09357B90083794C3562A10E718DBD57CFED4D84C3652438799F2CD9C3D744E5B589B20E608311A77C2B9360A993A83FA724FDF468A183A60CA6BA027289C77C96B1A70E44DB9A695AE4FED84EBACA540DB07733A47F1A618DBF1BBE0DB6020CAD073E934BFF6EE6834D530D2F23FDDD1874646E3DD8A774E76F1EC83F90A9A7708C3736D50598F5D008E3118156DCFE99F07A3A946C697F922E7337E698699CC30F9D6F22ACD81BCA2E9C323E8EC0DD370949D8DDBD026B8B4384A8BC0B4EF1E2CDCC33F1D38057732AAF39401F7E1A7C004F7FDCD7322E8E5F0FC0801692BB20258A03264C91375E85FD891E8AB3A4B98F9C4E4E00F740E3F27EB7F0A58AFA49D20B7FEA489C6EBD5FE6359ACF7A53647A962EDBDC57D591FD606A374F19A9822FE88B9FD4E862F90181FDFE0C035EEFFF227AAE54EC32046DF3ADBB306C2092630067B63C06ABCF7217E838F16479AABC084E97F636B62DDD84939EE97206ABD71F106E248C720B6E07D7C85D0E02701676C5C21218A2209629E2FA6186E7C28ACA1DA936293168C025C9392A837897244111B1962AAFBC91965623F2D12837468077D123E82B0C6F954B92E76F3670DD6D01A9204F4925196A5F1F4EBF321B15C5F6E66AC499101AAE1928D53EC096DBCED62DBC58DB71A824801C666B3DD08E36FC8CDF73B99CDD808925814EC557F51DC15879D7126E170585EFD4EC26EA471E2AE2A193CB5C4D941E2615D6E455D7D2A2F1C7119408AE532BF0444BDAB3E577FB396AEC2E099781ED11F29120BB21E4DE28DCC011E392029BEB5DE42DC04DF54A0D885AC1F2627FAC5F28AFD0B1E3F4B370B050000
-->

